<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>python /home/lerko/Desktop/ComplexBehaviorDetector/log/JobAlarmListener.py</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>AlarmListener</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <org.jenkinsci.plugins.emailext__template.ExtendedEmailTemplatePublisher plugin="emailext-template@1.0">
      <templateIds>
        <org.jenkinsci.plugins.emailext__template.TemplateId>
          <templateId>emailext-template-1484838137325</templateId>
        </org.jenkinsci.plugins.emailext__template.TemplateId>
        <org.jenkinsci.plugins.emailext__template.TemplateId>
          <templateId>emailext-template-1485195838333</templateId>
        </org.jenkinsci.plugins.emailext__template.TemplateId>
      </templateIds>
    </org.jenkinsci.plugins.emailext__template.ExtendedEmailTemplatePublisher>
  </publishers>
  <buildWrappers/>
</project>